# --- General options --- #
title: Shi Shi / Electrical and Computer Engineering / UC Davis
description: Portfolio Page
url: https://geraltshi.github.io


collections:
  authors:
    output: true

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jemoji
