.current {
    color: #f6efed;
}

.non-current {
    color: #b9c5b3;
}

@font-face {
    font-family: 'Minion';
    src: url("../fonts/MinionPro-Regular.otf");
}

@font-face {
    font-family: 'Blaak';
    src: url("../fonts/BlaakRegular_PERSONAL.ttf");
}

nav {
    font-family: 'Futura';
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #fcc003;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.button { 
    border: 1px solid #dba500;
    background: linear-gradient(rgb(255, 231, 136), rgb(255, 206, 56));
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.4), 0px 1px 1px rgba(0,0,0,.1);
    background-color: #FFE788;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    color:#333;
    display:inline-block;
    text-align:center;
    text-decoration: none;

    &:link{
        color:#333;
    }

    &:visited{
        color:#333;
    }

    &:hover {
      background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
      background-color: #ffeca0;
      color:#333;
    }
}

a:link{
    color: #b15620;
}

a:visited{
    color: #b15620;
}

a:hover{
    color: #b9c5b3;
}

h1 {
    font-family: 'Blaak';
    font-size: 18px;
}

body {
    font-family: 'Minion';
    margin: 0px auto;
    min-width: 700px;
    max-width: 1000px;
    background-color: #f6efed;
}

footer {
    text-align: center;
    width: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: #b9c5b3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}