.current {
    color: #f6efed;
}

.non-current {
    color: #b9c5b3;
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Regular.ttf");
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Bold Italic.ttf");
    font-style: italic;
    font-weight: bold;
}

nav {
    font-family: 'Product Sans';
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.button { 
    // background-color: #f6efed;
    border-radius: 2px;
    box-shadow: inset 0px 1px 2px rgba(255,255,255,.5), 0px 1px 1px rgba(0,0,0,.1);
    // background-color: #FFE788;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    color:#333;
    display:inline-block;
    text-align:center;
    text-decoration: none;

    &:link{
        color:#333;
    }

    &:visited{
        color:#333;
    }

    &:hover {
      background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
      background-color: #ffeca0;
      color:#333;
      text-decoration: underline;
    }
}

a:link{
    color: #b15620;
    text-decoration: none;
}

a:visited{
    color: #b15620;
}

a:hover{
    color: #b9c5b3;
    text-decoration: underline;
}

h1 {
    font-family: 'Product Sans';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

body {
    font-family: 'Product Sans';
    margin: 0px auto;
    //min-width: 700px;
    max-width: 1000px;
    background: url("/assets/images/email-pattern.png");
    table {border: none;}
    td {vertical-align: top;}
}

.wrapper {
    width:100%;
    margin:0 auto;
    position:relative;
  }

aside {
    width:15%;
    padding: 30px 30px 30px 30px;
    margin-left: 20px;
    float: left;
    text-align: center;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

section {
    width:65%;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 10px 250px;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

footer {
    text-align: center;
    width: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 30px;
    //background-color: #b15620;
    //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

//---------------------------Below is css for mobile devices------------------------//

@media print, screen and (max-width: 1000px) {
    body {
        word-wrap:break-word;
      }

    .wrapper {
        width:auto;
        margin:0;
      }

    aside {
        display: none;
        float: none;
        width: 0;
    }

    section {
        margin: 10px 10px 10px 10px;
        width: auto;
    }

    h1 {
        font-size: 24px;
    }
}