.current {
    color: #f6efed;
}

.non-current {
    color: #b9c5b3;
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Regular.ttf");
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/Product Sans Bold Italic.ttf");
    font-style: italic;
    font-weight: bold;
}

.button { 
    border-radius: 2px;
    box-shadow: inset 0px 1px 2px rgba(255,255,255,.5), 0px 1px 1px rgba(0,0,0,.1);
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    color:#333;
    display:inline-block;
    text-align:center;
    text-decoration: none;

    &:link{
        color:#333;
    }

    &:visited{
        color:#333;
    }

    &:hover {
      background-color: #d16729bb;
      color:#333;
      text-decoration: underline;
    }
}

a:link{
    color: #b15620;
    text-decoration: none;
}

a:visited{
    color: #b15620;
}

a:hover{
    color: #005cc5;
    text-decoration: underline;
}

h1 {
    font-family: 'Product Sans';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

body {
    font-family: 'Product Sans';
    background: url("/assets/images/email-pattern.png");
    table {border: none;}
    td {vertical-align: top;}
}


#navbar {
    font-family: 'Product Sans';
    font-weight: bold;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: top 0.3s;
}


.wrapper {
    width:650px;
    margin:0 auto;
    position:relative;
  }

.sidebar {
    // width: 230px;
    position: fixed;
    top: 0px;
    left:50%;
    padding: 10px 10px 10px 10px;
    margin-left:-560px;
    text-align: right;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

.section {
    width:590px;
    padding: 80px 30px 50px 30px;
    margin: 0px 0;
    position:relative;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

footer {
    text-align: center;
    width: auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.video_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    }
    iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
  
//---------------------------Below is css for mobile devices------------------------//

@media print, screen and (max-width: 1100px) {
    body {
        word-wrap:break-word;
      }

    .wrapper {
        width:auto;
        margin:0;
      }

    .sidebar {
        display: none;
        float: none;
        width: 0;
    }

    .section {
        margin: 10px 10px 10px 10px;
        width: auto;
    }

    h1 {
        font-size: 20px;
    }

    .video_wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
        }
        iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
        
}