<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include analytics.html %}
  </head>
  <body>
    {% include navigation.html %}
    <b>[This website is under construction. I am devoted to making a nice portfolio but it takes time.]</b><br>
    <div class="wrapper">
        {% include aside.html %}
        <section>{{ content }}</section>
    </div>
    
  </body>
  <footer>
        © 2019 Shi Shi All Rights Reserved.
  </footer>
</html>